<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "Got Sale?", {:action  => 'got_sale', :id  => @last_click}  %></li>
			<li><%= link_to "All Click View", {:action  => 'index'}  %></li>
			<li><%= link_to "Real Click View", {:action  => 'real_clicks'}  %></li>

		</ul>
		</nav>
</footer>